@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

ul, p {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 10px;
}

body {
    padding: 0;
    margin: 0;
    display: grid;
    max-height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

nav {
    background-color: #fb923c;
    grid-row: 1 / 3;
    padding: 10px;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    gap: 40px;
}

header {
    background-color: #fff7ed;
    padding: 10px 40px 15px 40px;
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 1fr;
}

main {
    background-color: #fdba74;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 20px;
    padding-bottom: 40px;
}

/* nav */

nav > a {
    font-size: 1.3rem;
}

nav ul {
    display: grid;
    gap: 15px
}

nav a img {
    display: block;
    margin: auto;
}

/* nav */

/* header */

.dp-big {
    height: 60px;
    width: 60px;
    background-color: aqua;
    border-radius: 50%;
    padding: 2px;
}

.dp-small {
    height: 48px;
    width: 48px;
    background-color: aqua;
    border-radius: 50%;
    padding: 2px;
}

.top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    gap: 10px;
}


.search > input {
    height: 30px;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    background-color: #fdba74;
}

.search-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.search-right .bell {
    justify-self: end;
}

.search-right p {
    justify-self: start;
    font-weight: bold;
}

.profile {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 20px;
    align-items: center;
}

.profile p {
    font-weight: bold;
    line-height: 0.3rem;
}

.profile .greeting {
    font-size: 0.8rem;
}

.profile .name {
    font-size: 1.2rem;
}

.profile div {
    display: grid;
    gap: 20px;
}

.profile-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    gap: 10px;
}

.profile-buttons button {
    height: 40px;
    width: 100px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #fb923c;
    font-weight: bold;
}

/* header */

/* main */

.card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.card {
    background-color: #fff7ed;
    border-radius: 8px;
    border-left: solid 8px #7c2d12;
    padding: 20px 20px;
    display: grid;
    gap: 10px;
    grid-template-rows: 150px 24px;
}

.card .title {
    font-weight: bold;
}

.card .description {
    color: grey;
    font-size: 0.9rem;
}

.card .options {
    display: grid;
    justify-self: end;
    grid-template-columns: repeat(3, 24px);
    gap: 20px;
}

.main-left > p {
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: 20px;
    padding-bottom: 10px;
}

.main-right > p {
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: 20px;
    padding-bottom: 10px;
}

.main-right {
    padding: 0 20px;
}

.announcements {
    background-color: #fff7ed;
    border-radius: 8px;
    padding: 10px;
    display: grid;
}

.announcements div {
    padding: 10px;
}

.announcements .title {
    font-weight: bold;
    font-size: 0.9rem;
}

.announcements .description {
    font-size: 0.7rem;
    color: gray;
}

.trending {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff7ed;
    display: grid;
    gap: 20px;
}

.trending .name{
    display: grid;
    grid-template-columns: 48px 1fr;
    font-size: 0.8rem;
    align-items: center;
    gap: 20px;
}

.trending img {
    height: 48px;
    width: 48px;
}

.name .desc {
    color: gray;;
}

/* main */